.cookie-popup-wrapper {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fffd;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;

  h2 {
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 1rem;
  }

  .cookie-popup-container {
    width: 100%;
    max-width: 800px;
    padding: 1rem;
    .cookie-popup-footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        input {
          margin-right: 0.5rem;
        }
      }
    }
  }
}
