.img-wrapper {
  height: 88vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  .react-transform-component {
    overflow: visible;

    .react-transform-element {
      img {
        max-width: 100%;
        max-height: 90vh;
      }
    }
  }
}
