.cookie-popup-wrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fffd;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  .cookie-popup-container {
    max-width: 100%;
    h2 {
      text-shadow: 0 2px 2px #0005;
      margin-bottom: 0.5rem;
    }
    p {
      margin-bottom: 1rem;
    }
    .cookie-popup-footer {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      label {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        input {
          margin-right: 1rem;
        }
      }
    }
  }
}
